.Rows{
  display: flex;
  padding: 40px;
  margin: 10px;
  
}
.Zona1{
  flex: 1;
  padding: 1rem;
  width: 400px;
  height: 400px;
  outline: 1px solid white;
}
.Nombre{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

}

.Subida:hover{
  background-color: yellow;

}
.Zona2{
  flex: 2;
  padding: 10px;
  width: 400px;
  outline: 1px solid grey;
}